doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title item7 | Shop
    link(rel="stylesheet" href="/css/shopStyle.css")
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" type="image/png" href="images/item7 chef.png")
  body
    header
      .header__section
        .header__logo
          a(href="/shop")
            img(src="/images/item7.png" alt="item7 logo")
        .search-div
          form(class="search")
            input(type="search" class="search__field" id="" placeholder="Search items..")
            button.button
              i.fa.fa-search
        .header__nav
          if user
            .initials
              - const initials = user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase(); 
              a(href="/profile")= initials 
              a(href="/profile" style="color: #fff; margin-left: 32px;")= `${user.lastName}`
          else
            .login
              a(href="/login") Login

        .cart
          a(href="/cart")
            i.fa.fa-cart-arrow-down(aria-hidden="true" style="font-size: 2rem;")
    .container
      .container-inner
        each product in products
          .item.item--1
            img(src=`/images/${product.imageCover}` style="width: 100px;" alt=`${product.name}`)
            .container__main
              .container__btn
                a.cart-btn(style="cursor: pointer;") Add to cart
              .container__adjust
                button.minus
                  i.fa.fa-minus
                .number0fquantity(style="margin: 0 6px;") 1
                button.minus
                  i.fa.fa-plus
            .productname
              p= `${product.name}`
              - const sign = `₦`
              p= `${sign}${product.price}`
        
    footer
      .footer
        .footer-section
          h3 For Company
          ul
            li
              a(href="#") About Us
            li
              a(href="#") Privacy
            li
              a(href="#") Terms &amp; Conditions
        .footer-section
          h3 For Customer
          ul
            li
              a(href="#") Login
            li
              a(href="#") Sign up
        .footer-section
          h3 For Consumers
          ul
            li
              a(href="#") Login
            li
              a(href="#") Sign up
      hr(style="width: 80%; text-align: center; margin-left: 100px;")
      .footer-bottom
        div
          p(style="margin-left: 150px; margin-top: 30px;")
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |             All rights reserved |
        div
          img(src="images/item7.png" style="width: 100px; margin-top: -10px;" alt="")
        .butter
          p
            | Made by 
            i.fa.fa-heart-o
            | Butterfly Inc
      // <br><br>
      script(src='/js/bundle.js')
